* {
  border-style: border-box;
}

@font-face {
 font-family: "tinderFont";
 src: url(fonts/tinderFont.ttf);
}

.container-fluid {
 padding-left: 0px;
 padding-right: 0px;
}

header {
 width: 100%;
}

#main-heading {
 padding-top: 10px;
 text-align: center;
 font-family: "tinderFont";
 background-color: #003366 ;
 text-shadow:
   -1px -1px 0 #ea474c ,
   1px -1px 0 #ea474c ,
   -1px 1px 0 #ea474c ,
   1px 1px 0 #ea474c ;
 color: #003366 ;
 border-bottom: 4px solid lightgray;
 margin-top: 0px;
 margin-right: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 min-width: 100%;
 height: 1.5em;
}

#mood-text {
 color: #ea474c ;
 font-family: "tinderFont";
}

#mood-text2 {
 text-shadow:
   -1px -1px 0 #ea474c ,
   1px -1px 0 #ea474c ,
   -1px 1px 0 #ea474c ,
   1px 1px 0 #ea474c ;
 color: #003366 ;
 font-family: "tinderFont";
}

#get-started {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "tinderFont";
  position: absolute;
  top: 90px;
  right: 60%;
  font-size: 36px;
}

#get-started-text {
 color: #ea474c;
 text-decoration: none;
}

#get-started-text:hover {
  color: blue;
}

#home-screen-submit {
   position: absolute;
   right: -5px;
   bottom: 0px;s
}

#location-form {
 text-align: center;
 position: absolute;
 left: 500px;
 top: 300px;
 width: 500px;
}

.cuisine-type {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-top : 20px;
  width: 600px;
  color: white;
  position: absolute;
  right: 15%;
  font-family: "tinderFont";
}

#main-section {
 overflow: auto;
 padding-top: 0px;
 background-image: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.05)), url("../images/backgroundImage3.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 800px; /*-- Need to change in order to eliminate vertical scroll */
 width: 100%;
}

#opening-greeting {
 font-size: 60px;
 color: white;
 margin-top: 50px;
 text-shadow:
   -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
   1px 1px 0 black;
 text-align: center;
}


#food-list:hover {
  color: #C40000;
  font-family: "tinderFont";
}

#dislike-btn {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-right: 125px;
  /*box-shadow: 10px 10px 5px black;*/
}

#like-btn {
  width: 100px;
  height: 100px;
  background-color: black;
  /*box-shadow: 10px 10px 5px black;*/
}

#food-images {
  margin-top: 50px;
  position: absolute;
  width: 650px;
  height: 500px;
  left: 28%;
  linear-gradient: (rgba(255,255,255,0.20),rgba(255,255,255,0.20));
  /*background: url("../images/main-section-background.png");*/
}

#food-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 125px;
  /*border: 5px solid black;*/
  box-shadow: 10px 10px 5px black;
}

#yelp-logo {
  width: 100px;
  height: auto;
  overflow: auto;
  position: absolute;
  bottom: 40px;
  right: 120px;
  z-index: 1;
  /*background-color: #d32323; -- Yelp's recommended background color */
}

#buttons-div {
  position: absolute;
  left: 39%;
  top: 75%;
}

.img-rounded:hover {
  cursor: pointer;
}

#love-photo {
  margin-top: 50px;
  position: absolute;
  width: 650px;
  height: 700px;
  left: 30%;
  linear-gradient: (rgba(255,255,255,0.05),rgba(255,255,255,0.05));
  background-color: black;
}

#google-maps {
  margin-top: 50px;
  margin-left: 75px;
}

#need-cuisine-div {
  font-family: sans-serif, arial;
  color: red;
  position: absolute;
  left: 150px;
  bottom: 10px;
  font-size: 18px;
  width: 300px;
}
