* {
  border-style: border-box;
}

@font-face {
 font-family: "tinderFont";
 src: url(fonts/tinderFont.ttf);
}

html {
  position: relative;
}

html, body, #wrapper {
  height: 100%:
  width: 100%;
}

#main-section {
  align-self: stretch;
}

.container-fluid {
 padding-left: 0px;
 padding-right: 0px;
}

header {
 width: 100%;
}

#main-heading-text {
  padding-top: 5px;
  text-align: center;
  font-family: "tinderFont";
  text-shadow:
    -1px -1px 0 #ea474c ,
    1px -1px 0 #ea474c ,
    -1px 1px 0 #ea474c ,
    1px 1px 0 #ea474c ;
  color: #003366 ;
  margin-bottom: 5px;
  font-size: 36px;
  float: left;
  position: relative;
  left: 45%;
}

#main-heading {
 background-color: #003366 ;
 border-bottom: 4px solid lightgray;
 margin-top: -20px;
 margin-right: 0px;
 margin-left: 0px;
 margin-bottom: 0px;
 width: 100%;
 overflow: auto;
}

#mood-text {
 color: #ea474c ;
 font-family: "tinderFont";
}

#mood-text2 {
 text-shadow:
   -1px -1px 0 #ea474c ,
   1px -1px 0 #ea474c ,
   -1px 1px 0 #ea474c ,
   1px 1px 0 #ea474c ;
 color: #003366 ;
 font-family: "tinderFont";
}

#get-started {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "tinderFont";
  position: absolute;
  top: 335px;
  right: 76%;
  font-size: 36px;
}

#get-started-text {
 color: #ea474c;
 text-decoration: none;
}

#get-started-text:hover {
  color: red;
}

/*look into creating a confirmed clicked radio button color*/
/*#get-started-text:target {
  color: purple;
}*/

#home-screen-submit {
   position: absolute;
   right: -5px;
   bottom: 0px;s
}

#location-form {
 text-align: center;
 position: absolute;
 left: 500px;
 top: 300px;
 width: 500px;
}

.cuisine-type {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  margin-top : 20px;
  width: 600px;
  color: white;
  position: absolute;
  right: 20%;
  font-family: "tinderFont";
  background-color: black;
  padding-left: 20px;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.1));
  box-shadow: 10px 10px 5px black;
}

#main-section {
 overflow: auto;
 padding-top: 0px;
 background-image: linear-gradient(rgba(255,255,255,0.05),rgba(255,255,255,0.05)), url("../images/backgroundImage3.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 height: 800px; /*-- Need to change in order to eliminate vertical scroll */
 width: 100%;
}

#opening-greeting {
 font-size: 60px;
 color: white;
 margin-top: 30px;
 text-shadow:
   -1px -1px 0 black,
   1px -1px 0 black,
   -1px 1px 0 black,
   1px 1px 0 black;
 text-align: center;
}

#cuisine-header {
  padding-top: 10px;
}

.food-list {
  padding-left: 20px;
}

.food-list:hover {
  color: #C40000;
  font-family: "tinderFont";
  cursor: pointer;
}

#dislike-btn {
  width: 100px;
  height: 100px;
  margin-right: 125px;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 10px 10px 5px black;
}

#like-btn {
  width: 100px;
  height: 100px;
  background-color: gray;
  border-radius: 50%;
  box-shadow: 10px 10px 5px black;
}

#food-images {
  margin-top: 50px;
  position: absolute;
  width: 650px;
  height: 700px;
  left: 28%;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.1));
  box-shadow: 10px 10px 5px black;
  background-color: black;
}

#food-img {
  position: relative;
  width: 400px;
  height: 400px;
  margin-top: 50px;
  margin-left: 125px;
  /*border: 5px solid black;*/
  box-shadow: 10px 10px 5px black;
}

#yelp-logo {
  width: 100px;
  height: auto;
  overflow: auto;
  position: absolute;
  bottom: 265px;
  right: 145px;
  z-index: 1;
  /*background-color: #d32323; -- Yelp's recommended background color */
}

#buttons-div {
  position: absolute;
  left: 39%;
  top: 68%;
}

#yelp-logo-2 {
  width: 100px;
  height: auto;
}

.img-rounded:hover {
  cursor: pointer;
}

#love-photo {
  margin-top: 50px;
  position: absolute;
  width: 650px;
  height: 700px;
  left: 28%;
  background-image: linear-gradient(rgba(255,255,255,0.10),rgba(255,255,255,0.10));
  box-shadow: 10px 10px 5px black;
  background-color: black;
}

#google-maps {
  position: absolute;
  top: 15%;
  margin-top: 50px;
  margin-left: 75px;
}

#need-cuisine-div {
  font-family: sans-serif, arial;
  color: red;
  position: absolute;
  left: 150px;
  bottom: 10px;
  font-size: 18px;
  width: 300px;
}

.yelp-info-div {
  text-align: center;
  color: white;
}

#return-btn {
  position: absolute;
  left: 20%;
  bottom: 5%;
}

#facebook-wrapper {
  position: absolute;
  left: 94%;
  top: 2%;
}

#facebook-greeting {
  position: absolute;
  bottom: 77%;
  left: 29%;
  color: white;
  padding-bottom: 10px;
  font-size: 24px;
}

#status {
  color: white;
  font-size: 16px;
  position: absolute;
  right: 3%;
}

#share-btn {
  position: absolute;
  right: 900px;
  top: 2px;
}

#start-over-btn {
  position: absolute;
  bottom: 5%;
  right: 20%;
}

#chooseAnother {
  position: absolute;
  bottom: 13%;
  right: 32%;
  color: white;
  font-size: 28px;
}

a {
 cursor: pointer;
}

a:link{
 text-decoration: none;
}

#close {
 position:absolute;
 right:14px;
 top:14px;
 cursor:pointer
 height: 20px;
 width: 20px;
}

#contact-us {
 font-size: 22px;
 padding-right: 20px;
 position: absolute;
 right: -675%;
 top: 38%;
 width: 200px;
}

#contact-us-form {
 width:100%;
 height:100%;
 opacity:0.95;
 top:0;
 left:0;
 display: none;
 position: fixed;
 overflow: auto;
}

#popupContact {
 position:absolute;
 left:50%;
 top:17%;
 margin-left:-202px;
 font-family:'Raleway',sans-serif;

}

#user-name, #user-email, #user-msg {
 /*width:120px;*/
 padding:5px;
 /*margin:50px;*/
 border:1px solid #ccc;
 font-size:16px;
 size: 35px;
 }

textarea {
 background-position:5px 7px;
 width: 90%;
 height: 20%;
 padding: 10px;
 margin-top:30px;
 border:1px solid #ccc;
 font-size:16px;
 font-family: raleway;
 margin-bottom:30px
 }

 #form {
 width:400px;
 height:400px;
 padding-left:10px;
 border:2px solid gray;
 border-radius:10px;
 font-family:raleway;
 background-color:#fff
}
